* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 576px;
  margin: 0 auto;
}

.inputs {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

#get-screen, #download-screen {
  padding: 10px 0;
}